{% extends "pizza/base.html" %}

{% block title %}
    Shopping Cart
{% endblock %}

{% block navbar %}
{% if user.is_superuser %}
<ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link"  href="{% url 'orders' %}"><i class="fas fa-shopping-cart"></i>Shopping Cart</a>
        </li>
        <li class="nav-item active">
                <a class="nav-link"  href="{% url 'trackorders' %}"><i class="fas fa-truck-moving"></i>Track Orders</a>
            </li>
            <li class="nav-item">
               <a  href="{% url 'manageorders' %}" class="nav-link" ><i class="fas fa-tasks"></i>Manage Orders</a>
            </li>
        <li class="nav-item">
          <a  href="{% url 'logout' %}" class="nav-link" ><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
      </ul> 
      {% else %}
      <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link"  href="{% url 'orders' %}"><i class="fas fa-shopping-cart"></i>Shopping Cart</a>
            </li>
            <li class="nav-item active">
                    <a class="nav-link"  href="{% url 'trackorders' %}"><i class="fas fa-truck-moving"></i>Track Orders</a>
                </li>
            <li class="nav-item">
              <a  href="{% url 'logout' %}" class="nav-link" ><i class="fas fa-sign-out-alt"></i>Logout</a>
            </li>
          </ul> 
     {% endif %}        
{% endblock %}


{% block body %}
<script type="text/javascript">
function updateTotal(removed_price) {
    var newTotal = 0;
    //formating strings to  float for computations
    newTotal += parseFloat($("#total").text());
    newTotal -= parseFloat(removed_price);
    Total=String(newTotal)//formating float to  string
    return Total
}
      $(document).ready(function() 
      {
        $(".remove").on('click', function() {
            //call backend function to remove order element from server's database
            const request = new XMLHttpRequest();
            request.open('POST','/removeorder');
            //request.onload=()=>	alert('item deleted');
            const data=new FormData();
            //alert($(this).parent().find('.pricefield').text())
            data.append('order_number',$(this).parent().find('.order_number').text());
            request.send(data);
            //update field of total price
            $("#total").text(updateTotal($(this).parent().find('.pricefield').text()));
            //hide and when remove element from the HTML context of the page(DOM)
            $(this).parents(".order:first").hide('slow', function(){ $(this).parents(".order:first").remove(); });
            //$(this).parents(".order:first").remove();
                
            });	
      });

    </script>

<h1>{{orders_owner}}|Your Shopping Cart</h1>
{% if order_total == 0 %}
   <hr> <hr>
  <h2>There is no Order on Your Shopping Card</h2>
{% else %}
<div class="r2">
    {% for order,extra in my_list  %}
 <div class="order">
     <div>
    <div class="r2">Order:#<div class="order_number">{{ order.id }}</div></div>
    <hr>
    <div><h4>{{ order.name }}</h4></div>
    <div>Size:{{ order.size }}</div>
    <div class="pricefield"> {{ order.price }}$</div>
    <button class="btn btn-primary remove">Remove</button>
     </div>
    <div class="extras">
        <br>
        <h6>
         {% for ex in extra %}
         <li>{{ ex }}</li>
         {% empty %}
         <div></div>
         {% endfor %}
         </h6>
    </div>
    
   </div>
    {% endfor %}
    </div>
    <br>
    <div id="placeorder">
    <!--Total price of all orders for a user-->
    <b><div class="r2">Total:<div id="total">{{order_total}}</div></div></b>

    <!--Change status of  orders to "Order Placed"-->
    <form method="get" action="{% url 'placeorder' %}">
        <button class="btn btn-primary">Place Order</button>
    </form>
    </div>
{% endif %}  
{% endblock %}
